@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

#titleContainer {
	background-color:#4C494A;
	margin-left: auto;
	margin-right: auto;
	max-width: 20%;
	border-radius: 50px;
	padding: 25px;
	border: #FE76B6 solid 3px;
	box-shadow: 0px 0px 0px 3px #FDF508 inset;
}

#titleContainer img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 100%;
	max-height: 100px;
	border-radius: 0;
}

p {
	color: #eeffef;
	font-family: "Avenir Next", Helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
}

#fromMessage {
	text-align: right;
	font-family: 'Mansalva', cursive;
}

h1 {
	font-family: "Mansalva", Helvetica, sans-serif;
	color:#FE76B6;
	text-align: center;
}

body {
	background-color: #0D010D;
	background-image: url("../Assets/backgroundart.jpg");
	margin: 25px 0 0 0;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 0px;
	margin: 25px;
}

.menu {
	grid-row: 1;
	grid-column: span 12;
	background-color:#323031;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.linkBar {
	padding: 5px;
	grid-gap: 5px;
	margin-top: auto;
	margin-bottom: auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

#welcomeHeader {
	font-family: "Mansalva", Helvetica, sans-serif;
	font-size: 4vw;
	margin: 0px 0px 10px 0px;
	color: #FDF508;
}

#header {
	transition: 0.2s;
	font-size: 4vw;
}

.welcomeMessage {
	text-align: left;
	margin: 25px;
	font-size: 1.5vw;
}
	
.content {
	grid-row: 2;
	grid-column: span 12;
	background-color:#4C494A;
	padding: 0 100px 0 100px;
}

.footer {
	grid-row: 3;
	grid-column: span 12;
	background-color:#5C595A;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.linkBarButton {
	background-color:#0D010D;
	opacity: 0.5;
	transition: 0.5s;
	color: #FDF508;
	font-family: "Mansalva", Helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.linkBarButton:hover, .leftLinkBarButton:hover, #rightLinkBarButton:hover {
	opacity: 1;
	background-color: #812b53;
}

.leftLinkBarButton {
	border-top-left-radius: 25px;
	background-color:#0D010D;
	opacity: 0.5;
}

#rightLinkBarButton {
	border-top-right-radius: 25px;
	background-color:#0D010D;
	opacity: 0.5;
	transition: 0.5s;
}

#currentPage {
	background-color: #FE76B6;
	opacity: 1;
	color: #FDF508;
	font-family: "Mansalva", Helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

#countDown {
	font-family: "Avenir Next", Helvetica, sans-serif;
	color:#EFEEFF;
	text-align: center;
	font-size: x-large; 
	margin: 2%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 3%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
}

.prev {
	margin-left: 15px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 15px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255,1);
}

.imageCaption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 0px;
  position: absolute;
  top: 0;
  left: 40%;
  right: 40%;
  text-align: center;
  background-color: rgba(0,0,0, 0.5);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px 10px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* END OF SLIDESHOW CSS */

.slideshowImage {
	width:100%;
	max-width: 512px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	border-radius: 25px;
	border: white;
	border-style: inset;
}

.sideBySideContent {
	grid-template-columns: repeat(5, 1fr);
	display: grid;
	margin-bottom: 25px;
}

.textContent {
	grid-column: span 3;
	margin-top: auto;
	margin-bottom: auto;
}

hr {
	border-top: 5px solid white;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.slideshowContent {
	grid-column: span 2;
	background-color: #0D010D;
	border: 5px solid white;
	border-radius: 25px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	padding: 25px;
}


/* BEGINNING OF FLOATING RIGHT HAND MENU FOR SOCIALS :) */

#socialMenu {
	position: fixed;
	right: 0;
	top: 40%;
	width: 8em;
	margin-top: -2.5em;
}

#mySidenav div {
	grid-template-columns: repeat(5, 1fr);
	display: grid;
	position: absolute;
	right: -110px;
	transition: 0.5s;
	padding: 10px 0px 10px 10px;
	width: 150px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 10px 0 0 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#mySidenav div:hover {
  right: 0; /* move items to the left, showing them on rollover*/
  cursor: pointer; /* clicky clicky */
}

.instagramSocial {
	background-image: linear-gradient(45deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
	-webkit-background-clip: text;
	color: transparent;
	grid-column: span 4;
	margin: 3px 0px 0px 0px;
}

.otherSocial {
	text-align: left;
	grid-column: span 4;
	height: 32px;
	margin: 3px 0px 0px 8px;
	vertical-align: middle;
}	

#instagramSocials {
	top: 20px;
	background-color: #EEEEEE;
	height: 32px;
}

#twitterSocial {
  top: 82px;
  background-color: #6699FF; /* Twitter Blue */
  height: 32px;
  font-family: "Avenir Next", sans-serif
}

#facebookSocial {
  top: 144px;
  background-color: #3B5998; /* Facebook Blue */
  height: 32px;
  font-family: "Avenir Next", sans-serif
}

#paypalSocial {
  top: 206px;
  background-color: #3B7BBF; /* Paypal Blue */
  height: 32px;
  font-family: "Avenir Next", sans-serif
}

/* END OF SOCIAL MENU */

#orientationOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition: 1s;
}

#text p {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  font-family: "Avenir Next", sans-serif;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.roundedContainer {
	border-radius: 25px;
	margin-bottom: 25px;
	background-color: #0D010D;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container {
  padding: 2px 16px;
}

.descriptionContainer {
	margin: 25px 25px 25px 0px;
	grid-column: span 3;
	background-color:#323031;
	padding: 0px 25px 0px 25px;
	border-radius: 25px;
}

.sideBySideEventContent {
	grid-template-columns: repeat(4, 1fr);
	display: grid;
}

.calendarView {
	display: grid;
	grid-template-rows: repeat(3, 1fr); 
	margin: auto;
	background-color:#fff;
	border-radius: 25px;
	height: 50%;
	width: 66%;
}

#calendarTop{
	grid-row: 1;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: #f36b6b;
}

#calendarMonth {
	margin-top: 20px;;
	margin-bottom: 10px;
	font-size: 40px;
}

#calendarDay {
	font-size: 5vw;
    margin-top: 5px;
    margin-bottom: 25%;
    color: #000;
	
}

#eventName {
	text-align: left;
	font-size: 2.5vw;
	margin-bottom: 0;
	font-weight: 900;
	color: #FE76B6;
    font-family: "Mansalva", cursive;
}

#eventLocation {
	text-align: left;
	font-size: 2vw;
	margin-top: 10px;
	color: #FDF508;
	font-family: "Mansalva", cursive
}

#countdownLabel {
	text-align: left;
	font-size: 1.7vw;
	font-weight: 700;
}

#eventDescription {
	text-align: left;
	font-size: 1.7vw;
	margin-top: 0;
}

#logoContainer {
	padding: 20px 20px 40px 20px
}

#logoContainer > img {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media screen and (max-width: 1400px) {
	
	.content {
		
		padding-left: 50px;
		padding-right: 50px;
		
		
	}
	
	.welcomeMessage {
		
		font-size: 1.8vw;
	}
	
}

/* IF THE SCREEN WIDTH IS SMALL, ADJUST THE WRAPPER TO ACCOMMODATE THE SCREEN BETTER */

@media screen and (max-width: 750px) {
	
	#titleContainer {
		padding: 15px;
	}
	
	.linkBar {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2;
	}
	
	#endOfLineOne {
		transition: 0s;
		border-top-right-radius: 25px;
	}
	
	#rightLinkBarButton {
		border-top-right-radius: 0px;
	}
	
}

/* IF THE USER IS ON A DEVICE WITHOUT A POINTER (TOUCHSCREEN), MAKE THE UI TOUCH-FRIENDLY */

@media (pointer:none), (pointer:coarse) {
	
	.sideBySideContent {
	grid-template-columns: repeat(2,1fr);
	}
	
	.linkBar {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2;
	}
	
	#rightLinkBarButton {
		border-top-right-radius: 0px;
	}
	
	.rightLinkBarButton {
		border-top-right-radius: 0px;
	}
	
	.sideBySideContent {
		grid-template-columns: repeat(2,1fr);
	}
	
	#endOfLineOne {
		transition: 0s;
		border-top-right-radius: 25px;
	}
	
	.linkBarButton, #currentPage {
		padding:5% 0;
	}
	
}

/*
@media all and (orientation:portrait) {
Style adjustments for portrait mode goes here 
	
	#orientationOverlay {
		display: block;
	}

}

@media all and (orientation:landscape) {
Style adjustments for portrait mode goes here 
	
	#orientationOverlay {
		display: none;
	}

}
*/